{% extends 'layout.twig' %}

{% block body %}
    <h2>Bienvenue</h2>
    <div class="row">
        <div class="col-md-4 trending">
        <p> Vous avez actuellement {{nbContact}} contact{{ nbContact > 1 ? 's' : ''}}</p>
        <a href="/contact/">voir tous les contacts</a>
        </div>
    </div>

    <h2>Derniers contacts</h2>
    {% if nbContact >=1 %}
    {% for contact in contacts %}
        {% include "contact.twig" %}
    {% endfor %}
    {% else %}
    <p> vous n'avez pas de contact à afficher</p>
    {% endif %}
    <h2>Ajouter un contact</h2>
    {{message}}
    
    <form  id="addContact" method="POST">
        <input class="form-control mr-sm-2" id="firstname" name="firstname" type="text" placeholder="prénom"  required pattern="\w{3}.*">
        <input class="form-control mr-sm-2" id="lastname" name="lastname" placeholder="nom" >
        <input class="form-control mr-sm-2" id="avatar" name="avatar" placeholder="url" >
        <input class="form-control mr-sm-2" id="description" name="description" placeholder="description" >
        <input class="form-control mr-sm-2" id="mail" name="mail" placeholder="mail" >
        <input class="form-control mr-sm-2" id="mail2" name="mail2" placeholder="mail 2" >
        <input class="form-control mr-sm-2" id="telephone" name="telephone" placeholder="telephone">
        <input class="form-control mr-sm-2" id="telephone2" name="telephone2" placeholder="telephone 2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ajouter</button>
    </form>

{% endblock %}